@{
    ViewData["Title"] = "Contact";
}

<div class="translate-wrapper ">

</div>
    </div>
      <div class="voicer translate">


            <button class="mdc-fab" data-translater="smartMessage">
                <span>You</span>
              <span class="material-icons md-48">
                  autorenew</span>
            </button>
      </div>
      <div class="text-wrapper" style="display: none;">
          <span id="text">
      </div>

      <div class="messages-wrapper">

      </div>