@{
    ViewData["Title"] = "Contact";
}

<div class="translate-wrapper ">

</div>
    </div>
      <div class="voicer translate">
          <button class="mdc-fab" aria-label="Favorite" data-translater="smartMessage">

              <span class="material-icons md-48">
                  keyboard_voice</span>
            </button>
      </div>
      <div class="text-wrapper" style="display: none;">
          <span id="text">

      </div>

      <div class="messages-wrapper">

      </div>