@{
    ViewData["Title"] = "Health trnaslation";
}
<h2>@ViewData["Title"]</h2>


<div class="chat-container">
    <div class="section sender">
        <div class="message-wrapper">
            <h3 class="my-meesage">mssages</h3>
            <h3 class="receive-message">message</h3>
        </div>
        <div class="input-wrapper">
            <input type="text"/>
            <a class="material-icons ">send</a>
        </div>
    </div>
    <div class="section receiver">
        <div class="message-wrapper">
            <h3 class="my-meesage">mssages</h3>
            <h3 class="receive-message">message</h3>
        </div>
        <div class="input-wrapper">
            <input type="text"/>
            <a class="material-icons ">send</a>
        </div>
    </div>
</div>