@{
    ViewData["Title"] = "Health trnaslation";
}
<h2>@ViewData["Title"]</h2>


<div class="chat-container">
    <div class=" mdc-card section sender">
        <div class="message-wrapper s-w">

        </div>
        <div class="input-wrapper">
            <input type="text" id="sender-message"/>
            <a href="" class="material-icons " data-chat="sender">send</a>
        </div>
    </div>
    <div class=" mdc-card ection receiver">
        <div class="message-wrapper r-w">

        </div>
        <div class="input-wrapper">
            <input type="text"/ id="receiver-message">
            <a href="" class="material-icons " data-chat="receiver">send</a>

        </div>
    </div>
</div>