
      <div class="voicer">
          <button class="mdc-fab" aria-label="Favorite" data-translater>
              <span class="material-icons md-48">
                  keyboard_voice</span>
            </button>
      </div>
      <div class="text-wrapper" style="display: none;">
          <span id="text">
      </div>


      </span>




